* {
    box-sizing: border-box;
}

/*navbar container*/
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 2rem;
    position: sticky;
    top: 0;
    z-index: 1000;

    /*background img*/
    background-image: url('images/navbar-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    margin: 0;
}

/* hamburger hidden on desktop */
.hamburger {
  display: none;
  font-size: 28px;
  cursor: pointer;
}

/* hide mobile menu by default */
.mobile-menu, .merch-banner {
  display: none;
}

.merch-nav {
    margin-left: 2rem;
    text-align: center;
    cursor: pointer;
}

.merch-nav p{
    color: #202020;
    font-size: 24px;
    font-family: "gaegu", sans-serif;
    transition: color 0.3s;
    font-weight: 700;
    margin-top: 0.5rem;
    line-height: 0;
}

.logo{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 2rem;
    margin-left: auto;
}

.nav-links li a{
    text-decoration: none;
    color: #202020;
    font-size: 24px;
    font-family: "gaegu", sans-serif;
    font-weight: 700;
    line-height:0;
}

.nav-img{
    text-align: center;
}

.nav-img p{
    margin-top: 1rem;
}

/*shadow overlay*/
#shadow-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);
    backdrop-filter: blur(4px);
    display: none;
    z-index: 999;
}

/* POPUP BOX */
#shadow-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    box-shadow: 0 20px 60px rgba(0,0,0,0.2);
    z-index: 1000;
    transition: all 0.3s ease;

    background: url("images/add-to-bag-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 65%;

    padding: 4rem;
    text-align: center;
    font-family: "Gaegu", sans-serif;
    display: none;
    gap: 2rem;
}

.merch-box h1{
    font-size: 64px;
}

.merch-box h2 {
    font-size: 48px;
}


.socials button{
    background: #7D9D5A;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
}

.socials img {
    height: 2rem;
    width: auto;
    object-fit: contain;
}

.socials a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-family: "Gaegu", sans-serif;
    color: white;
    gap: 0.5rem;
    font-size: 32px;
}

.socials p{
    margin: 0;
}

/* Show state */
#shadow-box.active {
    transform: translate(-50%, -50%) scale(1);
}

/* Close button */
.close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

/*hero section*/
.hero-section{
    position: relative;
    margin: 0;
}

.hero-section img{
    width: 100%;
    height: auto;
    display: block;
}

.hero-section a{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -80%);
    width: clamp(140px, 25vw, 320px);
    height: auto;
}

/*featured products section*/
.ft-products {
    text-align: center;
    padding: 4rem 2rem;
    
    background-image: url("images/lined-paper.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    position:relative;
}

.ft-products h2{
    font-family:"gaegu", sans-serif;
    font-size: 64px;
}

.products-container {
    display: flex;
    justify-content: center;
    gap: clamp(1rem, 8rem, 10rem);
    flex-wrap: wrap;
}

.product-card{
    width: clamp(180px, 28vw, 400px);
    font-family: "gaegu", sans-serif;
    text-align: center;
}

.product-card img{
    width: 100%;
    height: auto;
    object-fit: contain;
}

.product-card h3{
    font-size: clamp(1.5rem, 4vw, 3rem);
}

.product-link{
    text-decoration: none;
    color: inherit;
}

.mission-statement-index{
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #FFF4EE;

    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.mission-statement-index p{
    font-family: "Besley", serif;
    font-size: 32px;
    color: #202020;
    max-width: 50%;
    text-align: center;
}

.mission-statement-index a{
    margin: 2rem;
}

/*ABOUT US SECTION*/
.about-us{
    display: flex;
    align-items: center;
    position: relative;
    overflow: visible;
    
    background-color: #B19587;
}

.about-us-text,
.our-goal-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.about-us-text h2{
    font-family: "gaegu", sans-serif;
    font-size: 64px;
    color: white;
}

.about-us-text p{
    text-align: center;
    padding: 5rem 8rem;
    width: 70%;
    font-size: 24px;
    color: #202020;

    font-family: "Besley", serif;
    background-image: url("images/about-us-lined-background.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
}

.about-us-text img{
    padding-bottom: 4rem;
}

.quote-img{
    margin-bottom: 2rem;
}

.left-polaroid{
    position: absolute;
    left: 0px;
    transform: translateY(73%);
    z-index: 1;
}

.right-polaroid{
    position: absolute;
    right: 0px;
    transform: translateY() translateX(25%);
}

/*OUR GOAL SECTION*/
.our-goal {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 2rem;

    background-image: url("images/our-goal-bckgnd.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.our-goal-content {
    display: flex;
    align-items: center;
    gap: 4rem;
}

.our-goal-text {
    background-image: url("images/our-goal-lined-background.png");
    background-size: contain;
    background-size: 100% 75%;
    background-position: center;
    background-repeat: no-repeat;
    padding: 8rem;
    flex: 1;
}

.our-goal-text p{
    font-size: 24px;
    font-family: "Besley", serif;
    color: #202020;
}

.our-goal-img-wrapper{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.our-goal-2 {
    display: flex;
    background-color: #B19587;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: visible;
}

.our-goal-2-text {
    color: white;
    flex: 2;
    text-align: center;
    padding: 4rem 2rem;
    max-width: 50%;
}

.our-goal-2-text h2 {
    font-family: "Gaegu", sans-serif;
    font-size: 64px;
    margin-bottom: 0;
}

.our-goal-2-text p {
    font-family: "Besley", serif;
    font-size: 32px;
    margin-top: 0;
}

.our-goal-2 img {
    max-width: 15%;
}

.yuka-transparent {
    flex: 1;
    transform: translateY(35%);
}

.einspanner-transparent {
    flex:1;
    transform: translateY(-30%);
}

.olive-sticker-overlap {
    position: absolute;

    bottom: -60px;
    left: 50%; 
    transform: translateX(-50%);

    z-index: 10;
    pointer-events: none;
}

.about-us-2 {
    position: relative;
    z-index: 1;
    background-color: #FFF4EE;
    padding: 4rem;
    
    align-items: center;
    display: flex;
    flex-direction: column;
}

.about-us-2-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.banana-transparant,
.yuka-transparant-2 {
    flex: 1;
    max-width: 200px;
}

.about-us-2-content p {
    flex: 2;
    font-family: "Besley", serif;
    font-size: 24px;
    padding: 4rem;
    text-align: center;
    max-width: 60%;
}

.about-us-2-text {
    background-image: url("images/about-us-2-text-background.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding: 2rem 6rem;
    align-items: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-us-2-text p{
    text-align: left;
    max-width: 70%;
}

.about-us-2-text-p {
    margin-top: 2rem;
    font-size: 36px;
}

.about-us-2-text-emph {
    margin-top: 0;
    font-size: 48px;
}

.transparancy-statement {
    background-color: #FFF4EE;
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: "Besley", serif;
    font-size: 24px;
    color: #202020;
}

.transparent-text-1 {
    padding: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.transparent-text-1 p{
    flex: 3;
    text-align: center;
    max-width: 40%;
}

.transparent-text-1 img {
    margin-left: 4rem;
}

.transparent-text-2 {
    padding: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.transparent-text-2 p{
    flex: 3;
    text-align: center;
    max-width: 40%;
}

.transparent-text-2 img {
    margin-right: 4rem;
}

.carousel-mobile {
    display: none;
}

.mission-statement {
    background-color: #B19587;
    padding: 4rem;
    font-family: "Besley", serif;
    font-size: 32px;
    color: white;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.mission-statement p {
    max-width: 60%;
    padding: 4rem;
}

.mission-statement img {
    max-width: 100%;
}

/*FOOTER*/
.footer {
    background-color: #B19587;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding: 2rem 4rem;
}

.footer img{
    height: auto;
    max-width: 140px;
}

.contact-info,
.hours {
    font-family: "gaegu", sans-serif;
    color: white;
}

.contact-info h3,
.hours h3{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 0px;
}

.contact-info p,
.hours p{
    margin-top: 2px;
    font-size: 24px;
}

/* -----------------MENU SECTION -------------------*/
.menu-header{
    padding: clamp(1.5rem, 4rem, 2rem) clamp(1.5rem, 4rem, 8rem);
    color: #ffffff;
    background-color: #B19587;
}

.menu-header h1{
    font-family: "gaegu", sans-serif;
    font-size: clamp(2.5rem, 6vw, 4rem);
    margin-bottom: 0px;
}

.menu-header p {
    font-family: "Besley", serif;
    font-size: clamp(1rem, 2vw, 1.5rem);
    margin-top: 1rem;
}

.menu-tabs {
  position: sticky;
  top: 7rem;
  z-index: 999;

  display: flex;
  gap: 0.5rem;
  padding-top: 1rem;

  background: #B19587;
  border-bottom: none;
}

.menu-tabs button {
  font-family: "gaegu", sans-serif;
  font-size: clamp(18px, 3vw, 32px);
  font-style: bold;
  padding: 0.6rem 1.2rem;
  color: white;

  background: #FBA7B4;
  border: 3px solid white;
  border-bottom: none;
  border-radius: 5px 5px 0 0;

  cursor: pointer;
  transition: transform 0.2s ease;
}

.menu-tabs button:active {
  transform: translateY(2px);
}

.menu{
    display: block;
    background-color: #B19587;
    padding: 0 clamp(1rem, 5vw, 4rem);
    padding-bottom: 4rem;
}

.menu-content {
    background-color: #FFF4EE;
}

.menu-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: clamp(1rem, 3vw, 2rem);
    width: 100%;
}

.menu-section {
    padding: 2rem clamp(1rem, 6vw, 4rem);
    scroll-margin-top: 10rem;
}

.menu-section h2 {
    font-family: "gaegu", sans-serif;
    font-size: 40px;
    color: black;
}

.menu-section p {
    font-family: "besley", serif;
    font-size: 24px;
    color: #040404;
    margin-bottom: 1.5rem;
}

.menu-card{
    display: flex;
    flex-direction: column;
    text-align: left;
    text-decoration: none;
    position: relative;
    width: 100%;
    max-width: 100%;
    
    color: black;
}

.menu-card h3{
    font-family: "gaegu", sans-serif;
    font-size: 32px !important;
    font-weight: bold;
    margin-bottom: 0px;
}

.menu-card p{
    font-family: "Besley", serif;
    margin-top: 0;
}

.menu-price {
    margin-top: 0;
    font-size: 24px !important;
}

.menu-desc {
    font-size: 16px !important;
    margin-bottom: 0;
    white-space: pre-line;
}

.ft-drinks-items {
    display: flex;
    justify-content: center;
    gap: clamp(1rem, 8rem, 10rem);
    flex-wrap: wrap;
    margin-bottom: 0;
}

/*------------------FAQ SECTION----------------*/
.faq-body{
    background-color: #B19587;
    font-family: "gaegu", sans-serif;
    color: white;
    padding: 1rem;
}

.faq-body h1{
    font-size: 64px;
    padding: 4rem;
    margin-bottom: 0px;
}

.toggle {
  margin: 0 2rem 4rem;
  overflow: hidden;

  background-image: url("images/faq-toggle-closed.png");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.toggle[open] {
  background-image: url("images/faq-toggle-open.png");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.toggle summary {
  list-style: none;
  cursor: pointer;

  display: flex;
  align-items: center;
  text-align: center;
}

.toggle summary::-webkit-details-marker {
  display: none;
}

.toggle h2 {
  font-family: "gaegu", sans-serif;
  padding: 2rem;
  font-size: 32px;
  font-weight: bold;
  margin: 0;
  color: #202020;
}

.toggle p {
  font-family: "Besley", serif;
  font-size: 16px;
  padding: 0 4rem 2rem;
  margin: 0;
  color: #202020;
}

.ceremonial-img {
    margin-bottom: 4rem;
    margin-left: 4rem;
    width: 50%;
    height: auto;
}

.more-questions {
    margin: 2rem;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-image: url("images/email-bckgnd.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.more-questions p {
    color: #202020;
    font-weight: bold;
    font-size: 32px;
}

.more-questions button {
    border: none;
}

/***--------CUSTOMIZE DRINK PAGE------------***/
.drink-info{
    background-color: #B19587;
    padding: 4rem;
}

.drink-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    background-color: #FFF4EE;
    padding: 2rem;
}

.back-to-menu-button {
    font-family: "gaegu", sans-serif;
    font-weight: bold;
    font-size: 40px;
    text-decoration: none;
    color: white;

    background: #FBA7B4;
    border-bottom: none;

    padding: 0.35rem 0.7rem;
    border: 3px solid white;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
}

.drink-main-info {
    color: black;
    flex: 1;
    text-align: left;
    justify-content: left;

    max-height: calc(100vh - 200px); /* adjust for navbar */
    overflow-y: auto;
    padding-right: 2rem auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.drink-main-info::-webkit-scrollbar {
  display: none;
}

.drink-main-info h1 {
    font-family: "gaegu", sans-serif;
    font-size: 64px;
    margin-bottom: 0;
}

.drink-main-info h2 {
    font-family: "Besley", serif;
    font-size: 40px;
    margin-top: 0;
}

.drink-main-info p {
    font-family: "Besley", serif;
    font-size: 24px;
}

.drink-img {
    flex: 1;
    position: sticky;
    align-items:center;
    display: flex;
    justify-content: center;
}

.drink-img img{
    transform: scale(1.2);
    transform-origin: center;
    margin: 4rem;
}

.adjustments-toggle {
  overflow: hidden;
  font-family: "Gaegu", sans-serif;
  font-size: 40px;
}

.adjustments-toggle p {
    font-family: "Gaegu", sans-serif;
    font-size: 24px;
    margin-top: 0;
}

.adjustments-toggle summary {
  list-style: none;
  cursor: pointer;
}

.adjustments-toggle fieldset {
    border: none;
    padding: 0;
    margin: 1rem 0;
}

.adjust-field label {
    font-family: "Besley", serif;
    font-size: 20px;
    display: block;
}

.adjustments-toggle textarea {
  width: 100%;
  max-width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #FBA7B4;
  margin-top: 1rem;

  font-family: "Besley", serif;
  font-size: 16px;

  resize: vertical;
  box-sizing: border-box;
}

.add-to-bag {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;

    margin-top: 2rem;
}

.drink-gallery {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}

/* main image */
#drink-image {
  width: 100%;
  max-width: 400px;
  object-fit: contain;
}

/* thumbnail column */
.thumbnail-col {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* thumbnails */
.thumbnail {
  width: 60px;
  height: 60px;
  object-fit: cover;
  cursor: pointer;
  opacity: 0.6;
  border: 2px solid transparent;
  transition: all 0.2s ease;
}

.thumbnail:hover {
  opacity: 1;
}

.thumbnail.active {
  opacity: 1;
  border: 3px solid #FBA7B4;
}

/***--------ADD TO CART OVERLAY------------***/
.cart-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}


.cart-popup {
  background: url("images/add-to-bag-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 4rem 2.5rem;

  text-align: center;
  font-family: "Gaegu", sans-serif;

  display: flex;
  gap: 2rem;

  align-self: center;
  max-height: 90vh;
  overflow-y: auto;
}

.cart-popup-text {
    text-align: left;
    color: #202020;
}

.cart-popup-text h1{
    font-size: clamp(2rem, 6vw, 4rem);
}

.cart-popup-text h2{
    font-size: clamp(1.5rem, 5vw, 3rem);
}

.cart-popup-text p{
    font-family: "Besley", serif;
    font-size: 20px;
}

.popup-buttons {
    margin-top: 2rem;
}

.cart-popup img {
  width: 300px;
  height: auto;
  object-fit: contain;
}

.hidden {
    display: none;
}

.popup-buttons button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    margin: 0.7rem;
}


/***--------BAG------------***/
.bag-overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    display: flex;
    justify-content: flex-end;
    z-index: 9999;
}

.bag-panel {
  background: white;
  width: 30%;
  height: 100%;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  transform: translateX(100%);
  transition: transform 0.3s ease;

  font-family: "Gaegu", sans-serif;
  color:#202020;
  align-items: center;
  text-align: center;
}

.bag-overlay.show .bag-panel {
  transform: translateX(0);
}

.hidden {
  display: none;
}

.bag-header {
    font-family: "Gaegu", sans-serif;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 0;
}

.bag-header h2{
    margin: 1rem;
}

.bag-item {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border: 1px solid #ACD2F7;
    border-radius: 5px;
    margin: 1rem 0;
}

.bag-item-img {
    flex: 1;
    width: 70px;
    height: auto;
    object-fit: cover;
}

.bag-item-text {
    flex: 2;
    text-align: left;
}

.bag-item-text h2{
    font-size: 32px;
    font-weight: bold;
    margin: 0;
}

.bag-item-text p{
    margin-top: 0;
    font-family: "Besley", serif;
    font-size: 16px;
}

.bag-total {
    font-size: 16px;
}

.checkout-btn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    margin: 0.7rem;
    margin-bottom: 3rem;
}

.delete-item{
  background:#f3e6dc;
  border-radius:50%;
  width:32px;
  height:32px;
  border:none;
  cursor:pointer;
  font-weight:bold;
}

/**PICKUP**/
.pickup-view {
  background: white;
  width: 30%;
  height: 100%;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  font-family: "Gaegu", sans-serif;
  color:#202020;
  align-items: left;
  text-align: left;
}

.back-to-bag-btn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    margin: 0.7rem;
    margin-bottom: 3rem;

    font-family: "Gaegu", sans-serif;
    color: #202020;
    font-size: 20px;
    font-weight: bold;
}

.pickup-time-content {
    padding: 1rem;
    border: 1px solid #ACD2F7;
    border-radius: 5px;
    margin: 1rem 0;
}

.pickup-time-content h1{
    font-size: 32px;
    font-weight: bold;
}

.pickup-time-content p{
    font-family: "Besley", serif;
    font-size: 16px;
}

.pickup-time-select {
    background: none;
    padding: 0.5rem;
    cursor: pointer;
    margin: 0.7rem;
    margin-bottom: 3rem;
    border-radius:5px;

    font-family: "Gaegu", sans-serif;
    color: #202020;
    font-size: 20px;
}

.confirmation-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    margin: 0.7rem;
    margin-bottom: 3rem;
    
    display: block;
    margin: 2rem auto 0; 
}

/* =========================
   MOBILE FIXES
========================= */
/*NAVBAR + FOOTER MOBILE FIX*/
@media (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    section {
        padding: 1.5rem 1rem;
    }


  .navbar {
    flex-direction: row;
    position: sticky;
    top: 0;
  }

  .logo {
    position: static;
    transform: none;
  }

  .hamburger {
    display: block;
    color: #7D9D5A;
  }

  /*hide desktop nav*/
  .nav-links,
  .merch-nav {
    display: none;
  }

  /* MOBILE DROPDOWN MENU */
  .mobile-menu {
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;

    background: #FFF4EE;
    list-style: none;
    font-size: 24px;

    margin-top: 0;
    padding: 1rem;
    display: none;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    z-index: 9999;

    transition: all 0.3s ease;
  }

  .mobile-menu li a {
    text-decoration: none;
    font-family: "gaegu", sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #202020;
  }

  .mobile-menu.active {
    display: flex !important;
  }

  .nav-links {
    margin-left: 0;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
  }

  .nav-links li a {
    font-size: 18px;
  }

  .nav-img img {
    width: 40px;
    height: auto;
  }

  .merch-nav {
    display: none;
  }

  .merch-banner {
    display: block;
    width: 100%;

  }

  .merch-banner img {
    width: 100%;
    height: auto;
    display: block;
  }

  .footer {
    flex-direction: column;
    text-align: center;
    gap: 0;
    padding: 2rem;
  }

  .footer img {
    width: 120px;
  }

  /*MOBILE FT DRINKS*/
  .products-container {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
  }

  .product-card {
    width: 100%;
    max-width: 400px;
  }

  .ft-products {
    padding: 2rem 1rem;
  }

  .products {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .mission-statement-index p{
    font-size: 16px;
    max-width: 100%;
    padding: 1rem;
  }
}

/* =========================
   MOBILE BAG SLIDE UP
========================= */
@media (max-width: 768px) {

  .bag-overlay {
    justify-content: center;
    align-items: flex-end;
  }

   .bag-panel {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;

    width: 100%;
    max-width: 100%;
    box-sizing: border-box;

    height: 80vh;
    border-radius: 20px 20px 0 0;

    transform: translateY(100%);
    transition: transform 0.3s ease;
  }

  .bag-overlay.show .bag-panel {
    transform: translateY(0);
  }
}

/* =========================
   MOBILE MENU SECTION
========================= */

@media (max-width: 768px){
.menu-grid {
    grid-template-columns: 1fr;
}
.menu-tabs {
    top: 4.5rem;
    gap: 0.4rem;
  }

.menu-tabs button {
    padding: 0.35rem 0.7rem;
    border-width: 2px;
    border-radius: 4px 4px 0 0;
}
}

/* =========================
   MOBILE CUSTOMIZE SECTION
========================= */

@media (max-width:768px){

.drink-info{
    padding:2rem 1.5rem;
}

.drink-info-container{
    flex-direction:column;
    gap:2rem;
}

.drink-gallery{
    position:static;
    order: -1;
    flex-direction: column;
    align-items: center;
}

.thumbnail-col {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.drink-img img{
    margin-top: 1rem;
    transform:none;
    width:70%;
    max-width: 320px;
}

.back-to-menu-button{
    font-size:24px;
}

.drink-main-info h1{
    font-size:clamp(2rem,6vw,3rem);
}

.drink-main-info h2{
    font-size:clamp(1.5rem,4vw,2rem);
}

.drink-main-info p{
    font-size:clamp(1rem,3vw,1.2rem);
}

/*adjustments*/
.adjustments-toggle{
    font-size:24px;
}

.adjust-field label{
    font-size:16px;
}

.adjustments-toggle summary{
    padding:0.5rem 0;
}

/*mobile scroll area*/
.drink-main-info{
    max-height:none;
    overflow:visible;
    display: flex;
    flex-direction: column;
}

.add-to-bag {
    align-self:center;
    margin-top:2rem;
    background:none;
    border:none;
    cursor:pointer;
}

.add-to-bag img{
    width:clamp(180px, 40vw, 260px);
}

.adjust-field{
    margin-bottom:1rem;
}

.adjust-field label{
    margin:0.3rem 0;
}

/* =========================
   RESPONSIVE POPUP PAGE
========================= */
.cart-popup{
    flex-direction: column;
    width: 90%;
    padding: 2rem;
    gap: 0.5rem;
    padding-top: 6rem;
}

.cart-popup img{
    width: 160px;
    height: auto;
    margin: 0 auto;
}

.cart-popup-text{
    text-align: center;
}

.cart-popup-text h1{
    font-size: 36px;
}

.cart-popup-text h2{
    font-size: 28px;
    margin: 0;
}

.cart-popup-text p{
    margin-top: 0;
    font-size: 16px;
}

.popup-buttons{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:0;
    margin-top:1.5rem;
}

.popup-buttons img{
    width:clamp(140px, 35vw, 180px);
    height:auto;
}

}

/* =========================
   RESPONSIVE ABOUT PAGE
========================= */

@media (max-width: 1200px) {

    .about-us-container {
        padding: 0;
    }

    .about-us {
        position: relative;
        overflow: visible;
    }

    .left-polaroid {
        flex: 1;
        max-width: 35%;
        transform: translateY(150%);
    }

    .about-us-text {
        flex: 2;
        text-align: center;
        margin-bottom: 9rem;
    }

    .about-us-text h2 {
        font-size: 36px;
    }

    .about-us-text p {
        font-size: 16px;
        padding: 5rem 1rem;
        background-image: url("images/lined-background-mobile.png");
        background-size: cover;
        max-width: 100%;
    }

    .right-polaroid {
        flex: 1;
        max-width: 38%;
        transform: translateY(95%);
        z-index: 10;
    }

    /*Our Goal*/

    .our-goal {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
        padding: 4rem 2rem;
    }
    .our-goal-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        order: 2;
    }

    .our-goal > img {
        order: 1; /*quote*/
        width: 90%;
    }

    .our-goal-img-wrapper {
        order: 1; /*kuma*/
        width: 60%;
        display: flex;
        justify-content: center;
    }

    .our-goal-img-wrapper img {
        width: 100%;
        height: auto;
    }

    .our-goal-text {
        order: 2; /* text */
        width: 100%;
        padding: 2rem;
        text-align: center;
        background-image: url("images/our-goal-bck-mobile.png");
        background-size: contain;
    }

    .our-goal-text p {
        font-size: 13px;
        max-width: 90%;
    }

    /*our goal 2*/
    .our-goal-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .our-goal-2 img {
        max-width: 30%;
    }

    .yuka-transparent {
        transform: translateX(-100%);
    }

    .einspanner-transparent {
        transform: translateX(120%);
        margin-bottom: 2rem;
    }

    .our-goal-2-text {
        padding: 1rem;
        max-width: 100%;
    }

    .our-goal-2-text h2 {
        font-size: 36px;
        margin-top: 0;
    }

    .our-goal-2-text p {
        font-size: 20px;
        margin-bottom:0;
    }

    /*about us 2*/
    .about-us-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        padding: 2rem;
    }
    
    .about-us-2-content {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 1fr;
    }

    .about-us-2-content p {
        order: 1;
        text-align: center;
        font-size: 16px;
        max-width: 100%;
        padding: 2rem;

        grid-column: span 2;
    }

    .about-us-2-content img {
        order: 2;
    }

    .banana-transparant {
        grid-column: 1;
        max-width: 80%;
    }

    .yuka-transparant-2 {
        grid-column: 2;
        max-width: 70%;
    }

    .about-us-2-text {
        order: 3; /* bottom text */
        width: 90%;
        text-align: center;
        padding: 4rem 2.5rem 6rem 2.5rem;
        background: url("images/about-us-2-background-mobile.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .about-us-2-text p {
        max-width: 100%;
    }

    .about-us-2-text-p {
        font-size: 20px;
    }
    
    .about-us-2-text-emph {
        font-size: 24px;
    }

    /*transparancy statemtn*/
    .transparent-text-1 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .transparent-text-1 p {
        max-width: 100%;
        order: 2;
        font-size: 16px;
    }

    .transparent-text-1 img {
        order: 1;
        margin: 2rem 0;
    }

    .carousel-mobile {
        display: block;
    }

    .carousel-desktop {
        display: none;
    }

    .transparent-text-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .transparent-text-2 p {
        max-width: 100%;
        order: 1;
        font-size: 16px;
    }

    .transparent-text-2 img {
        order: 2;
        margin: 2rem 0;
    }

    /*mission statement*/
    .mission-statement {
        padding: 2rem;
        font-size: 16px;
    }

    .mission-statement p {
        max-width: 100%;
        padding: 2rem 0;
    }
}